#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

li{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 30rem;
  }

h2{
  color: chocolate;
  background-color: bisque;
  }

ul{
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
 }

/* .productName{
  border: solid;
  color:brown;
} */


