#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
  min-width: 50%;
}

li {
  width: 100%;
  margin: 1rem 0;
}

.productContainer {
  display: flex;
  width: 100%;
  gap: 5px;
  align-items: stretch;
}