#MyReactComponent {
    font-size: xx-large;
    color: rgb(228, 38, 136);
  }

  .ProductsTable{
border: solid 2px rgb(128, 128, 128);
  }

  th {
    border: solid 2px rgb(250, 127, 127);
      }
  
  .ProductsTable td{
    border: solid 2px rgb(121, 60, 242);
  }

  .ProductsTable tr:nth-child(even){
    background: aqua;
  }